* {
   /* border: 1px solid red; */
   box-sizing: border-box;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;   
}

body {   
   font-family: 'Roboto', Arial, sans-serif;
   width: 100%;
   padding: 0;
   margin: 0;
   /* margin-top: -18px; */
   height: 100%;
   background-color: #932822;
   color: black;
}

.hidden {
   display: none;
}

#logo-white {
   display: none;
}

#logo-black {
   display: none;
}

#logo-full {
   height: 75%;
   margin-left: 5%;
   top: calc(50% + 10px);
   position: relative;
   transform: translateY(-50%);
}

#header {
   height: 150px;
   background-repeat: no-repeat;
   color: black;
   width: 100%;
   margin: 0;
   padding: 0;
}

#title_container {
   text-align: center;
   height: inherit;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
}

.search {
   display: none;
   position: absolute;
   right: 50px;
   float: right;
}

#kultur-lenke {
   display: inline-block;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   z-index: 5;
}

#header h1 {
   font-size: 55px;
   padding: 0;
   margin: 0;
   display: none;
}

#nav {
   padding: 0;
   margin: 0;
   padding-right: 5%;
   display: inline-block;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   float: right;
}

#nav ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   display: flex;
   flex-direction: row;
}

#nav > ul > li {
   padding-left: 30px;
   white-space: nowrap;
}

/* #nav { */
/*    display: none; */
/*    width: 40%; */
/*    left: 50%; */
/*    position: relative; */
/*    transform: translateX(-50%); */
/*    padding: 0; */
/*    margin: 0; */
/* } */

#nav ul {
   padding: 0;
   margin: 0;
   padding-bottom: 3%;
   list-style-type: none;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

#content {
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;
}

a:link {
   text-decoration: none
}

a:visited {
   text-decoration: none
}

a:hover {
   text-decoration: underline; color: #BF0000;
}

a:active {
   text-decoration: none;
}


a {
   color: black;
}

hr {
   color #404040;
   color: black;
   background: #404040;
   border: 0;
}

#footer {
   clear: both;
   background-color: #932822;
   text-align: center;
   color: #932829;
}
#footer a {
   color: #005;
}

input {
   border: 1px solid #ddd;
}

.del {
   background: #FF4D4A;
}

.ins {
   background: #F9FF4A;
}

/* Ikke vis checkbox (knapp) */
input[type=checkbox] {
   display: none;
}


@media only screen and (max-width: 900px) {
   #logo_header {
      display: inherit;
   }

   #logo-white {
      display: none;
   }

   #logo-full {
      display: none;
   }


   /* Definer kryss/streker for knapp */
   #overlay-button span:before, #overlay-button span:after {
      height: 1px;
      width: 18px;
      border-radius: 2px;
      position: absolute;
      content: "";
   }

   /* Utgangsposisjon for øvre strek i kryss */
   #overlay-button span:before {
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      top: -4px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      background-color: black;
      transition: 
      transform .2192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      -webkit-transform .2192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      top .2s cubic-bezier(0.04, 0.04, 0.12, 0.96) .108s,
      background-color .5192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1508s;
   }

   /* Utgangsposisjon for nedre strek i kryss */
   #overlay-button span:after {
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      top: 4px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      background-color: black;
      transition: 
      transform .2192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      -webkit-transform .2192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      top .2s cubic-bezier(0.04, 0.04, 0.12, 0.96) .108s,
      background-color .5192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1508s;
   }

   /* Plasser knapp */
   #overlay-button {
      position: relative;
      display: inline-block;
      top: 50%;
      transform: translate(0, -50%);
      right: 1.3em;
      float: right;
      padding: 26px 11px;
      z-index: 9;
      /* cursor: pointer; */
      user-select: none;
   }

   /* Posisjon for midtre (skjulte) strek, samt stil for strekene */
   #overlay-button span {
      height: 1px;
      width: 25px;
      position: relative;
      display: block;
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
   }

   /* Bakgrunn før trykk på knapp */
   #nav {
      transform: none;
      padding-right: 0;
      float: none;
      display: block;
      position: absolute;
      width: 100vw;
      top: 0;
      left: 0;
      height: 100%;
      margin-top: -100vh;
      background: black;
      transition: all 0.5s ease-in-out;
      transition-delay: 0.15s;
   }

   #nav.menu-opened {
      transform: translateY(100vh);
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.25s;
   }

   /* Stil for listen */
   #nav > ul {
      font-weight: normal;
      font-size: 16px;
      position: absolute;
      width: 100%;
      margin: 0;
      /* padding-top: 15vh; */
      padding-top: 22vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      height: 100%;
      padding-left: 0;
      list-style-type: none;
      /* font-family: "Courier New", monospace; */
      letter-spacing: .2em;
   }

   /* Standardstil for listeelementene. Flyttes og skaleres til siden ved lukking */
   #nav > ul > li {
      padding: 1em;
      transform: scale(1.15) translateX(-10%);
      -webkit-transform: scale(1.15) translateX(-10%);
      opacity: 0;
      transition: 
      opacity 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
   }

   /* Flytt elementer dit de egentlig skal være når menyen åpnes */
   #nav.menu-opened > ul > li {
      transform: scale(1) translateX(0);
      -webkit-transform: scale(1) translateX(0);
      opacity: 1;
      transition: 
      opacity 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
   }

   #nav ul li a:hover {
      color: #333332;
   }

   /* Stil for lenkene i listeelementene */
   #nav ul li a {
      color: #932822;
      text-decoration: none;
      font-size: 1.5em;
   }


   /* Gjør kryss/streker (knapp) hvit */
   #overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after { 
      background: black;
   }

   /* Bakgrunn ved trykk på kryss */
   /* Fjern midterste strek i kryss */
   input[type=checkbox] ~ #overlay-button:hover span, input[type=checkbox] ~ #overlay-button span {
      background: transparent;
   }

   /* Roter øverste strek ved trykk */
   input[type=checkbox]:checked ~ #overlay-button span:before {
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      top: 0;
      background: white;
      transition: 
      top .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
      -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
      background .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
   }

   /* Roter nederste kryss ved trykk */
   input[type=checkbox]:checked ~ #overlay-button span:after {
      transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      top: 0;
      background: white;
      transition: 
      top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
      transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
      -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
      background .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
   }

   .search {
      display: none;
   }

   #header {
      transition: all 1.5s;
      height: 100px;
   }

   #header.menu-opened {
      transition: background-color .5s;
   }

   #header h1 {
      display: initial;
      font-family: 'Roboto', Arial;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      margin: 0;
      font-size: 20px;
      /* color: black; */
      color: rgba(0, 0, 0, 0.45);
   }

   #header.menu-opened h1 {
      opacity: 0;
      transition: all .3s;
   }

   #content {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      width: 80%;
      margin: auto;
      opacity: 1;
      transition: opacity .9s cubic-bezier(0.04, 0.04, 0.12, 0.96) .55s;
   }

   #content h1 {
      font-size: 20px;
   }

   #content.menu-opened {
      opacity: 0;
      transition: all .3s;
   }

   #logo_header {
      position: relative;
      height: 35%;
      top: 50%;
      transform: scale(1) translateY(-50%);
      -webkit-transform: scale(1) translateY(-50%);
      display: inline-block;
      left: 2em;
      z-index: 10;

      transition:
      transform .5s,
      -webkit-transform .5s;

      /* transform: scale(1);  */
      /* -webkit-transform: scale(1); */
      /* position: absolute; */
      /* height: 40px; */
      /* top: 20px; */
   }

   #header.menu-opened #logo_header {
      transform: translate(50vw, 22vh) translate(-50%, 0) translate(-2em, -40px) scale(3);
      -webkit-transform: translate(50vw, 22vh) translate(-50%,0) translate(-2em,-40px) scale(3);
      transition:
      transform .5s,
      -webkit-transform .5s;
   }

   #logo-black {
      height: 100%;
      position: absolute;
      display: inline-block;
      opacity: 1;
   }

   #logo-white {
      height: 100%;
      position: relative;
      display: inline-block;
      opacity: 0;
      transition: opacity .5s cubic-bezier(0.04, 0.04, 0.12, 0.96) .6s;
   }

   #header.menu-opened #logo_header #logo-white {
      opacity: 1;
      transition: opacity .5s cubic-bezier(0.04, 0.04, 0.12, 0.96);
   }

}

@media only screen and (max-height: 600px) and (max-width: 900px) {
   #nav > ul {
      padding-top: 55%;
   }

   #header h1 {
      font-size: 15px;
   }
}

@media only screen and (max-height: 750px) and (max-width: 900px) {
   #header.menu-opened #logo_header {
      transform: translate(50vw, 25vh) translate(-50%, 0) translate(-2em, -40px) scale(3);
      -webkit-transform: translate(50vw, 25vh) translate(-50%,0) translate(-2em,-40px) scale(3);
   }
}

@media only screen and (min-height: 850px) and (max-width: 900px) {
   #nav > ul {
      transform: translateY(-1.5vh);
   }

   #header.menu-opened #logo_header {
      transform: translate(50vw, 33vh) translate(-50%, 0) translate(-2em, -40px) scale(3);
      -webkit-transform: translate(50vw, 33vh) translate(-50%,0) translate(-2em,-40px) scale(3);
   }
}
