* {
   /* border: 1px solid red; */
   box-sizing: border-box;
}

body {   
   font: 100% Helvetica, Arial, sans-serif;
   width: 100%;
   padding: 0;
   margin: 0;
   margin-top: -18px;
   height: 100%;
   background-color: #932822;
   color: black;
}

.hidden {
   display: none;
}

#logo-white {
   display: none;
}

#header {
   height: 100px;
   /* background-color: #80221D; */
   /* background-image: url("fremviser.png"); */
   background-repeat: no-repeat;
   color: black;
   width: 100%;
   margin: 0;
   padding: 0;
}

#header.menu-opened {
   /* background-color: black; */
   transition: background-color .5s;
}

.search {
   float: right;
   /*	position: relative;
   top: 57px;
   right: 5px; */
}

#kultur-lenke {
   display: inline-block;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   -webkit-transform: translate(-50%, 0);
   top: 2.4em;
   z-index: 5;
}

#kultur-lenke:hover {
   /* text-decoration: underline; */
}

#header h1 {
   font-size: 55px;
   font-family: "Courier New", monospace;
}

#nav {
   padding-top: 2%;
   margin-left: 2.8%;
   float: left;
   padding-left: 2%;
}

#nav ul {
   padding: 0;
   list-style-type: none;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
}

#content {
   float: right;
   /* width: 640px; */
   width: 50%;
}

a:link {
   text-decoration: none
}

a:visited {
   text-decoration: none
}

a:hover {
   text-decoration: underline; color: #BF0000;
}

a:active {
   text-decoration: none;
}


#nav a {
   /* color: #404040; */
   color: black;
}

hr {
   color #404040;
   color: black;
   background: #404040;
   border: 0;
}

#footer {
   clear: both;
   background-color: #932822;
   text-align: center;
   color: #932829;
}
#footer a {
   color: #005;
}

input {
   border: 1px solid #ddd;
}

.del {
   background: #FF4D4A;
}

.ins {
   background: #F9FF4A;
}


/* Plasser knapp */
#overlay-button {
   position: relative;
   display: inline-block;
   top: 1.45em;
   right: 1.3em;
   float: right;
   padding: 26px 11px;
   z-index: 5;
   /* cursor: pointer; */
   user-select: none;
}

/* Posisjon for midtre (skjulte) strek, samt stil for strekene */
#overlay-button span {
   height: 1px;
   width: 25px;
   position: relative;
   display: block;
   transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
}

/* Utgangsposisjon for øvre strek i kryss */
#overlay-button span:before {
   transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   top: -4px;
   transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   background-color: black;
   transition: 
   transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
   -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
   top .2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
   background-color .5192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1508s;
}

/* Utgangsposisjon for nedre strek i kryss */
#overlay-button span:after {
   transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   top: 5px;
   transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   background-color: black;
   transition: 
   transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
   -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
   top .2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
   background-color .5192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1508s;
}

/* Definer kryss/streker for knapp */
#overlay-button span:before, #overlay-button span:after {
   height: 1px;
   width: 25px;
   border-radius: 2px;
   position: absolute;
   content: "";
}

/* Gjør kryss/streker (knapp) hvit */
#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after { 
   background: black;
}

/* Ikke vis checkbox (knapp) */
input[type=checkbox] {
   display: none;
}

/* Bakgrunn ved trykk på kryss */
#mobil-overlay.menu-opened {
   height: 100%;
   transition: all 0.3s ease-in, background 0.5s ease-in;
   transition-delay: 0.25s;
}

/* Fjern midterste strek i kryss */
input[type=checkbox] ~ #overlay-button:hover span, input[type=checkbox] ~ #overlay-button span {
   background: transparent;
}

/* Roter øverste strek ved trykk */
input[type=checkbox]:checked ~ #overlay-button span:before {
   transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   top: 0;
   background: white;
   transition: 
   top .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96),
   transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
   -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
   background .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
}

/* Roter nederste kryss ved trykk */
input[type=checkbox]:checked ~ #overlay-button span:after {
   transform-origin: 50% 50%;
   -webkit-transform-origin: 50% 50%;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   top: 0;
   background: white;
   transition: 
   top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96),
   transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
   -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1608s,
   background .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
}

/* Bakgrunn før trykk på knapp */
#mobil-overlay {
   position: fixed;
   width: 100%;
   background: black;
   top: 0;
   left: 0%;
   height: 0%;
   /* transition: all .5s; */
   transition: all 0.5s ease-in-out;
   transition-delay: 0.15s;
}

/* Stil for listen */
#mobil-overlay > ul {
   position: relative;
   top: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   height: 105vh;
   padding-left: 0;
   list-style-type: none;
   font-family: "Courier New", monospace;
}

/* Standardstil for listeelementene. Flyttes og skaleres til siden ved lukking */
#mobil-overlay > ul > li {
   padding: 1.2em;
   transform: scale(1.15) translateY(-10%) translateX(-10%);
   -webkit-transform: scale(1.15) translateY(-10%) translateX(-10%);
   opacity: 0;
   transition: 
   padding 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

/* Stil for lenkene i listeelementene */
#mobil-overlay ul li a {
   color: #932822;
   text-decoration: none;
   font-size: 1.5em;
}

#mobil-overlay ul li a:hover {
   color: #333332;
}

/* Flytt elementer dit de egentlig skal være når menyen åpnes */
/* TODO: bezier (sjekk lukking) */
#mobil-overlay.menu-opened > ul > li {
   padding: 1em;
   -webkit-transform: scale(1) translateY(0px);
   transform: scale(1) translateY(0px);
   opacity: 1;
   /* transition: all 0.3s ease-in-out; */
   /* transition-delay: 0.25s; */
   transition: 
   padding 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
   -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#mobil-overlay {
   display: none;
}

@media only screen and (max-width: 900px) {
   #mobil-overlay {
      display: block;
   }

   #header {
      transition: all 1.5s;
   }

   #header h1 {
      font-family: 'Roboto', Arial;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      margin: 0;
      font-size: 20px;
      color: black;
   }

   #header.menu-opened h1 {
      opacity: 0;
      transition: all .3s;
   }

   #logo_header {
      display: inline-block;
      position: relative;
      height: 40%;
      top: 1.9em;
      left: 2em;
      z-index: 10;
      transform: scale(1) translate(0, 0);
      -webkit-transform: scale(1) translate(0, 0);
      /* transition: all .5s; */
      /* transition: .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .3s; */
      transition:
	 transform .5s,
	 -webkit-transform .5s,
	 left .5s, 
	 top .5s; 
   }

   #header.menu-opened #logo_header {
      left: 50%;
      top: 170%;
      transform: translate(-50%, 0) scale(3);
      -webkit-transform: translate(-50%, 0) scale(3);
      transition:
	 transform .5s,
	 -webkit-transform .5s,
	 left .5s, 
	 top .5s; 
   }

   #logo-black {
      height: 100%;
      position: absolute;
      display: inline-block;
      opacity: 1;
   }

   #logo-white {
      height: 100%;
      position: relative;
      display: inline-block;
      opacity: 0;
      transition: opacity .5s cubic-bezier(0.04, 0.04, 0.12, 0.96) .6s;
   }

   #header.menu-opened #tlogo_header #logo-black {
      opacity: 0;
   }

   #header.menu-opened #logo_header #logo-white {
      opacity: 1;
      transition: opacity 0s;
   }

   #nav {
      display: none;
   }
}

@media only screen and (max-height: 600px) {

   #header.menu-opened #logo_header {
      top: 140%;
   }

   #mobil-overlay > ul {
      top: 10%;
   }
}
